.calculator{
    width: 320px;
    height: 400px;
    padding: 8px;
    box-sizing: border-box;
    border: 2px solid #ebeb54;
    background-color: #ffff95;
}

.result{
    display: block;
    height: 42px;
    margin: 4px auto;
    width: calc(100% - 20px);
    overflow: hidden;
    box-sizing: border-box;
}

.calculator-btn{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 2px 8px;
    cursor: pointer;
}

#base-value{
    position: absolute;
    font-size: 11px;
    top: 25px;
    left: 33px;
    color: #b3b3b3;
}